<div class="message <%= message.role %> max-w-3xl mx-auto flex <%= message.user? ? 'justify-end' : 'justify-start' %>">
  <div class="flex <%= message.user? ? 'justify-end' : 'justify-start' %> gap-3 <%= "max-w-[90%] my-8" if message.user? %> w-full group relative">
    <div class="flex flex-col gap-1">
      <div class="relative max-w-3xl">
        <div class="message-content p-2 rounded-2xl text-sm leading-relaxed prose dark:prose-invert max-w-none
                    <%= message.user? ? 'bg-gray-50 text-gray-900 dark:bg-gray-800 dark:text-gray-100' : 'bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-100' %>">
          <%= raw Glancer::Utils::MarkdownHelper.markdown_to_html(message.content) %>
        </div>

        <button
          type="button"
          data-controller="chat"
          class="absolute p-1 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700 transition-opacity
                 <%= message.user? ? '-bottom-8 right-0' : '-bottom-6 left-1' %>
                 <%= message.user? ? 'opacity-0 group-hover:opacity-100' : 'opacity-100' %>"
          data-action="click->chat#copy"
          data-message="<%= j message.content %>"
          aria-label="Copy message"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-400" fill="#F3F4F6" stroke="#F3F4F6" viewBox="0 0 448 512"><path d="M192 0c-35.3 0-64 28.7-64 64l0 256c0 35.3 28.7 64 64 64l192 0c35.3 0 64-28.7 64-64l0-200.6c0-17.4-7.1-34.1-19.7-46.2L370.6 17.8C358.7 6.4 342.8 0 326.3 0L192 0zM64 128c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l192 0c35.3 0 64-28.7 64-64l0-16-64 0 0 16-192 0 0-256 16 0 0-64-16 0z"/></svg>
        </button>

        <% if message.assistant? %>
          <button
            type="button"
            data-controller="message"
            class="absolute p-1 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700 transition-opacity
                  -bottom-6 left-8
                  opacity-100"
            data-action="click->message#openMessageInfo"
            data-message-id="<%= message.id %>"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-400" fill="#F3F4F6" stroke="#F3F4F6" viewBox="0 0 512 512"><path d="M256 512a256 256 0 1 0 0-512 256 256 0 1 0 0 512zM224 160a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm-8 64l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24z"/></svg>
          </button>
        <% end %>
        
      </div>
    </div>
  </div>
</div>

